<h1>Choo Choo Systems Management Portal</h1>
<hr>
<div class="row">
  <h2>Add Stop</h2>
  <form action="/mgmt/stop" method="post">
    <div class="row">
      <div class="col-sm add-stop">
        <h3>City</h3>
        <% if @cities.any?%>
          <select class="form-select">
            <% @cities.each do |city| %>
              <option value="<%= city.city %>"><%= city.city %></option>
            <% end %>
          </select>
        <% else %>
          <p>There are currently no available trains.</p>
        <% end %>
      </div>
      <div class="col-sm add-stop">
        <h3>Train</h3>
        <% if @trains.any?%>
          <select class="form-select">
            <% @trains.each do |train| %>
              <option value="<%= train.train %>"><%= train.train %></option>
            <% end %>
          </select>
        <% else %>
          <p>There are currently no available trains.</p>
        <% end %>
      </div>
      <div class="col-sm add-stop">
        <h3>Arrival</h3>
        <div class="row">
          <div class="col">
            <label for="a_h">Hours</label>
            <input required name="a_h" type="number" min="0" max="23" step="1" class="form-control">
          </div>
          <div class="col">
            <label for="a_m">Minutes</label>
            <input required name="a_m" type="number" min="0" max="59" step="1" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-sm add-stop">
        <h3>Departure</h3>
        <div class="row">
          <div class="col">
            <label for="d_h">Hours</label>
            <input required name="d_h" type="number" min="0" max="23" step="1" class="form-control">
          </div>
          <div class="col">
            <label for="d_m">Minutes</label>
            <input required name="d_m" type="number" min="0" max="59" step="1" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <button type="submit" class="btn btn-primary">Add Stop</button>
    </div>
  </form>
</div>
<hr>
<div class="row">
  <div class="col">
    <h2>Add City</h2>
    <form action="/mgmt/city" method="post">
      <div class="form-group">
        <label for="city_name">City name</label>
        <input required id="city_name" name="city_name" class="form-control" type="text">
      </div>
      <button type="submit"class="btn btn-primary mt-3">Add City</button>
    </form>
    <div>
      <hr>
      <h3>Available Cities</h2>
      <%= erb(:city)%>
    </div>
  </div>
  <div class="col">
    <h2>Add Train</h2>
    <form action="/mgmt/train" method="post">
      <div class="form-group">
        <label for="train_name">Train name</label>
        <input required id="train_name" name="train_name" class="form-control" type="text">
      </div>
      <button type="submit"class="btn btn-primary mt-3">Add Train</button>
    </form>
    <div>
      <hr>
      <h3>Available Trains</h2>
      <%= erb(:train)%>
    </div>
  </div>
</div>
