<h2>Stop ID: <%= Stop.find(@stop.id).id %></h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Stop ID</th>
        <th scope="col">Train</th>
        <th scope="col">City</th>
        <th scope="col">Arrival</th>
        <th scope="col">Departure</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><%= @stop.id %></th>
          <td><a href="/train/<%= Train.find(@stop.train_id).id %>"><%= Train.find(@stop.train_id).train %></a></td>
          <td><a href="/cities/<%=City.find(@stop.city_id).id%>"><%= City.find(@stop.city_id).city %></a></td>
          <td><%= @stop.arrival.chop.chop.chop %></td>
          <td><%= @stop.departure.chop.chop.chop %></td>
        </tr>
    </tbody>
  </table>

<div class="col">
  <h3>Update Train</h3>
  <form action="/mgmt/stops/<%= @stop.id %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <% if @trains.any?%>
        <select id = "train_selection" name="train_selection" class="form-select">
          <% @trains.each do |train| %>
            <option name="train_selection" value="<%= train.id %>"><%= train.train %></option>
          <% end %>
        </select>
      <% else %>
        <p>There are currently no available trains.</p>
      <% end %>
    </div>
    <button type="submit"class="btn btn-primary mt-3">Remove Train</button>
  </form>
</div>
<div class="col">
  <h3>Update Stop</h3>
  <form action="/mgmt/stops/<%= @stop.id %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <% if @trains.any?%>
        <select id = "train_selection" name="train_selection" class="form-select">
          <% @trains.each do |train| %>
            <option name="train_selection" value="<%= train.id %>"><%= train.train %></option>
          <% end %>
        </select>
      <% else %>
        <p>There are currently no available stops.</p>
      <% end %>
    </div>
    <button type="submit"class="btn btn-primary mt-3">Remove Stop</button>
  </form>
</div>
